*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .box{
    height: 100px;
    width: 100px;
    background-color: red;
    box-sizing: border-box;
    font-size: 48px;
    color: white;
} */
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100vh;
}
 #box
{
    /* height: 100px; */
    /* width: 100px; */
    /* background-color: red; */
    /* transition: all 10s ease; */
    /* transition: all 4s ease-in; */
    /* transition: all 5s ease-out; */
    /* transition: all 3s ease-in-out; */
    /* transition: all 3s linear; */
}
#box:hover
{
     /* background-color: greenyellow;
    height: 300px;  */
    /*transform: translateX(500px); */
}

.box{
    height: 100px;
    width: 100px;
    background-color: red;
    border-top: 5px solid black;
    transition: all 3s linear;
    margin: 10px;
}
/* 
.parent{
    transition: all 2s ease;
    display: flex;
}
.parent:hover{
    transform: translateY(200px);
} */
.box:hover{
    /* background-color: green;
    height: 300px; */
    /* transform: rotate(360deg); */
    transform: translateX(400px);
}
.img{
}
.img:hover{
     /* transform: rotate(180deg)  */
     /* transform: scale(1.5) rotate(180deg); */
    /* transform: skew(20deg); */
    /* transform:translateY(200px)  */
}
