@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: hsl(210, 46%, 95%);
    height: 100vh;
    width: 100vw;
    font-family: "Manrope", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainDiv
{
    height: 40vh;
    width: 110vh;
    display: flex;
}

.left
{
    border-top-left-radius: 50%;
}

.left img
{
    height: 40vh;
    width: 23vw;
}

.right
{
    background-color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.avatarImg
{
    height: 50px;
    border-radius: 50%;
}


.avatar
{
    display: flex;
    gap: 20px;
}

.footer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right h2
{
    font-size: 27px;
    color: hsl(217, 19%, 35%);
}

.right p
{
    font-size: 18px;
    color: hsl(214, 17%, 51%);
}

.title h4
{
    color: hsl(217, 19%, 35%);
}

.share
{
    border-radius: 50%;
    background-color: hsl(210, 46%, 95%);
    padding: 1.6%;
}
/* 
    hsl(217, 19%, 35%)
    hsl(214, 17%, 51%)
    hsl(212, 23%, 69%)
    hsl(210, 46%, 95%)
 */